/*
 * Container style
 */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #00BCD9 #191c28;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #191c28;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00BCD9;
    border-radius: 10px;
    border: 3px solid #191c28;
  }